body{
    margin: 0px;
}
h1{
    margin-top: 100px;
    text-align: center;
}
.container{
    background: lightgrey;
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.box
{
    background: darkseagreen;
    display: flex;
    flex-direction: row;
    border: solid 2px red;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    margin-bottom: 100px;
}
.btn1{
    width: 100px;
    height: 100px;
    background: darksalmon;

}
.btn2{
    width: 100px;
    height: 100px;
    background: darksalmon;

}

